                                                            Лабораторна робота #4

                                        Структури для роботи з великими обсягами даних в Python

In [1]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

                                                            Завдання першого рівня

In [2]:
hpc_data = pd.read_csv("household_power_consumption.txt", sep=';', header=0, low_memory=False)
hpc_data.drop(0, inplace=True)
print("Rows before drop: " + str(hpc_data.shape[0]))
hpc_data.dropna(inplace=True)
print("Rows after drop: " + str(hpc_data.shape[0]))
hpc_data.head()

Rows before drop: 2075258
Rows after drop: 2049279

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.020,15.000,0.000,2.000,17.0

1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [3]:
hpc_data["Global_active_power"] = pd.to_numeric(hpc_data["Global_active_power"])
start = time.time()
t1 = hpc_data[hpc_data["Global_active_power"] > 5]
df1 = time.time() - start
print(t1.shape[0])
t1.head(3)

17547

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [4]:
hpc_data["Voltage"] = pd.to_numeric(hpc_data["Voltage"])
start = time.time()
t2 = hpc_data[hpc_data["Voltage"] > 235]
df2 = time.time() - start
print(t2.shape[0])
t2.head(3)

1952491

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.800,0.000,1.000,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.02,15.000,0.000,2.000,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.09,15.800,0.000,1.000,17.0

3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [5]:
hpc_data["Global_intensity"] = pd.to_numeric(hpc_data["Global_intensity"])
hpc_data["Sub_metering_2"] = pd.to_numeric(hpc_data["Sub_metering_2"])
hpc_data["Sub_metering_3"] = pd.to_numeric(hpc_data["Sub_metering_3"])
start = time.time()
t3 = hpc_data[(hpc_data["Global_intensity"].between(19,20)) 
        & (hpc_data["Sub_metering_2"] > hpc_data["Sub_metering_3"])]
df3 = time.time() - start
print(t3.shape[0])
t3.head(3)

2509

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,16/12/2006,18:09:00,4.464,0.136,234.66,19.0,0.000,37.0,16.0
460,17/12/2006,01:04:00,4.582,0.258,238.08,19.6,0.000,13.0,0.0
464,17/12/2006,01:08:00,4.618,0.104,239.61,19.6,0.000,27.0,0.0

4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії

In [6]:
hpc_data["Sub_metering_1"] = pd.to_numeric(hpc_data["Sub_metering_1"])
start = time.time()
hpc_rand = hpc_data.sample(n=500000)
sub1_avg = hpc_rand["Sub_metering_1"].mean()
sub2_avg = hpc_rand["Sub_metering_2"].mean()
sub3_avg = hpc_rand["Sub_metering_3"].mean()
df4 = time.time() - start
print(f"Mean watt-hour for sub metering 1: {sub1_avg}\nMean watt-hour for sub metering 2: {sub2_avg}\nMean watt-hour for sub metering 3: {sub3_avg}\n")

Mean watt-hour for sub metering 1: 1.107678
Mean watt-hour for sub metering 2: 1.289158
Mean watt-hour for sub metering 3: 6.439238

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [7]:
hpc5 = hpc_data
hpc5['Time'] = pd.to_datetime(hpc5['Time'],format='%H:%M:%S')
start = time.time()
filter = hpc5[(hpc5['Time'] > pd.Timestamp(1900, 1, 1, 18))
            & (hpc5['Global_active_power'] > 6)
            & (hpc5["Sub_metering_2"] > hpc5["Sub_metering_1"]) 
            & (hpc5["Sub_metering_2"] > hpc5["Sub_metering_3"])]
median = filter.shape[0]//2
slice1 = filter[:median:3]
slice2 = filter[median::4]
df5 = time.time() - start
print(f"Rows: {slice1.shape[0]}\n{slice1.head(3)}\n")
print(f"Rows: {slice2.shape[0]}\n{slice2.head(3)}")

Rows: 177
             Date                Time  Global_active_power  \
41     16/12/2006 1900-01-01 18:05:00                6.052
44     16/12/2006 1900-01-01 18:08:00                6.308
17494  28/12/2006 1900-01-01 20:58:00                6.386

      Global_reactive_power  Voltage  Global_intensity  Sub_metering_1  \
41                    0.192   232.93              26.2             0.0
44                    0.116   232.25              27.0             0.0
17494                 0.374   236.63              27.0             1.0

       Sub_metering_2  Sub_metering_3
41               37.0            17.0
44               36.0            17.0
17494            36.0            17.0

Rows: 133
             Date                Time  Global_active_power  \
707260  20/4/2008 1900-01-01 21:04:00                7.756
707264  20/4/2008 1900-01-01 21:08:00                6.366
707268  20/4/2008 1900-01-01 21:12:00                6.378

       Global_reactive_power  Voltage  Global_intensity  Sub_metering_1  \
707260                 0.348   232.11              33.4             1.0
707264                 0.368   232.97              27.4             2.0
707268                 0.300   232.96              27.4             1.0

        Sub_metering_2  Sub_metering_3
707260            72.0            17.0
707264            37.0            18.0
707268            36.0            17.0

Numpy array

1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [8]:
npa = hpc_data.to_numpy()
start = time.time()
t1 = npa[npa[:, 2] > 5]
np1 = time.time() - start
print(t1.shape[0])
t1

17547

array([['16/12/2006', Timestamp('1900-01-01 17:25:00'), 5.36, ..., 0.0,
        1.0, 16.0],
       ['16/12/2006', Timestamp('1900-01-01 17:26:00'), 5.374, ..., 0.0,
        2.0, 17.0],
       ['16/12/2006', Timestamp('1900-01-01 17:27:00'), 5.388, ..., 0.0,
        1.0, 17.0],
       ...,
       ['24/11/2010', Timestamp('1900-01-01 07:50:00'), 5.172, ..., 0.0,
        38.0, 17.0],
       ['24/11/2010', Timestamp('1900-01-01 07:51:00'), 5.75, ..., 0.0,
        39.0, 17.0],
       ['25/11/2010', Timestamp('1900-01-01 07:21:00'), 5.074, ..., 1.0,
        2.0, 18.0]], dtype=object)

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [9]:
start = time.time()
t2 = npa[npa[:, 4] > 235]
np2 = time.time() - start
print(t2.shape[0])
t2

1952491

array([['16/12/2006', Timestamp('1900-01-01 17:28:00'), 3.666, ..., 0.0,
        1.0, 17.0],
       ['16/12/2006', Timestamp('1900-01-01 17:29:00'), 3.52, ..., 0.0,
        2.0, 17.0],
       ['16/12/2006', Timestamp('1900-01-01 17:30:00'), 3.702, ..., 0.0,
        1.0, 17.0],
       ...,
       ['26/11/2010', Timestamp('1900-01-01 21:00:00'), 0.938, ..., 0.0,
        0.0, 0.0],
       ['26/11/2010', Timestamp('1900-01-01 21:01:00'), 0.934, ..., 0.0,
        0.0, 0.0],
       ['26/11/2010', Timestamp('1900-01-01 21:02:00'), 0.932, ..., 0.0,
        0.0, 0.0]], dtype=object)

3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [10]:
start = time.time()
t3 = npa[(npa[:, 5] > 19)
  & (npa[:, 5] < 20)
  & (npa[:, 7] > npa[:, 8])]
np3 = time.time() - start
print(t3.shape[0])
t3

1678

array([['17/12/2006', Timestamp('1900-01-01 01:04:00'), 4.582, ..., 0.0,
        13.0, 0.0],
       ['17/12/2006', Timestamp('1900-01-01 01:08:00'), 4.618, ..., 0.0,
        27.0, 0.0],
       ['17/12/2006', Timestamp('1900-01-01 01:19:00'), 4.636, ..., 0.0,
        36.0, 0.0],
       ...,
       ['24/11/2010', Timestamp('1900-01-01 07:54:00'), 4.694, ..., 0.0,
        39.0, 18.0],
       ['24/11/2010', Timestamp('1900-01-01 07:55:00'), 4.602, ..., 0.0,
        40.0, 17.0],
       ['24/11/2010', Timestamp('1900-01-01 07:57:00'), 4.626, ..., 0.0,
        39.0, 17.0]], dtype=object)

4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії

In [11]:
start = time.time()
idx = np.random.choice(npa.shape[0], 500000, replace=True)
rand = npa[idx]
sub1_avg = np.mean(rand[:, 6])
sub2_avg = np.mean(rand[:, 7])
sub3_avg = np.mean(rand[:, 8])
np4 = time.time() - start
print(f"Mean watt-hour for sub metering 1: {sub1_avg}\nMean watt-hour for sub metering 2: {sub2_avg}\nMean watt-hour for sub metering 3: {sub3_avg}\n")

Mean watt-hour for sub metering 1: 1.13095
Mean watt-hour for sub metering 2: 1.297704
Mean watt-hour for sub metering 3: 6.473596

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [14]:
start = time.time()
filter = npa[(npa[:, 1] > pd.Timestamp(1900, 1, 1, 18))
            & (npa[:, 2] > 6)
            & (npa[:, 7] > npa[:, 6])
            & (npa[:, 7] > npa[:, 8])]
median = filter.shape[0]//2
slice1 = filter[:median:3]
slice2 = filter[median::4]
np5 = time.time() - start
print(f"Rows: {slice1.shape[0]}\n{slice1}\n")
print(f"Rows: {slice2.shape[0]}\n{slice2}")

Rows: 177
[['16/12/2006' Timestamp('1900-01-01 18:05:00') 6.052 ... 0.0 37.0 17.0]
 ['16/12/2006' Timestamp('1900-01-01 18:08:00') 6.308 ... 0.0 36.0 17.0]
 ['28/12/2006' Timestamp('1900-01-01 20:58:00') 6.386 ... 1.0 36.0 17.0]
 ...
 ['23/3/2008' Timestamp('1900-01-01 20:36:00') 6.708 ... 0.0 73.0 16.0]
 ['20/4/2008' Timestamp('1900-01-01 21:00:00') 8.268 ... 1.0 72.0 17.0]
 ['20/4/2008' Timestamp('1900-01-01 21:03:00') 7.798 ... 1.0 71.0 17.0]]

Rows: 133
[['20/4/2008' Timestamp('1900-01-01 21:04:00') 7.756 ... 1.0 72.0 17.0]
 ['20/4/2008' Timestamp('1900-01-01 21:08:00') 6.366 ... 2.0 37.0 18.0]
 ['20/4/2008' Timestamp('1900-01-01 21:12:00') 6.378 ... 1.0 36.0 17.0]
 ...
 ['20/11/2010' Timestamp('1900-01-01 18:39:00') 6.362 ... 16.0 35.0 16.0]
 ['20/11/2010' Timestamp('1900-01-01 18:43:00') 6.324 ... 14.0 35.0 17.0]
 ['20/11/2010' Timestamp('1900-01-01 18:49:00') 6.21 ... 21.0 34.0 17.0]]

In [15]:
result = {'DataFrame': [df1,df2,df3,df4,df5 ], 'Numpy array': [np1,np2,np3,np4,np5]}
pd.DataFrame.from_dict(result)

   DataFrame  Numpy array
0   0.005293     0.039514
1   0.119807     0.345336
2   0.008281     0.090839
3   0.151741     0.875184
4   0.011236     0.339818